<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.onlytype.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="xyz.onlytype.entity.SysMenu">
            <id property="menuId" column="menu_id" jdbcType="VARCHAR"/>
            <id property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="menuIcon" column="menu_icon" jdbcType="VARCHAR"/>
            <result property="menuUrl" column="menu_url" jdbcType="VARCHAR"/>
            <result property="parentCode" column="parent_code" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        menu_id,menu_code,menu_name,
        menu_icon,menu_url,parent_code,
        create_time,update_time
    </sql>
</mapper>
