<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.onlytype.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="xyz.onlytype.entity.SysRole">
            <id property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,role_name,role_key,
        create_time,update_time
    </sql>
    <select id="selectUserRole" resultType="xyz.onlytype.domain.vo.SysUserRoleVO">
        SELECT r.role_id,u.username,r.role_name,r.role_key,r.create_time,r.update_time FROM sys_role AS r
                                                                                     LEFT JOIN sys_user_role AS sur
                                                                                               ON r.role_id = sur.role_id
                                                                                     LEFT JOIN sys_user AS u
                                                                                               ON sur.user_id = u.user_id
    </select>
</mapper>
