<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.onlytype.mapper.SysUserMapper">

    <resultMap type="xyz.onlytype.entity.SysUser" id="SysUserMap">
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="isEmail" column="is_email" jdbcType="VARCHAR"/>
        <result property="isImg" column="is_img" jdbcType="VARCHAR"/>
        <result property="isEnabled" column="is_enabled" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findRolesByUserId" resultType="xyz.onlytype.domain.vo.UserRoleVo">
        SELECT u.user_id,u.username,r.role_id,r.role_name FROM sys_user AS u
                                                                   LEFT JOIN  sys_user_role AS u_r
                                                                              ON u.user_id = u_r.user_id
                                                                   LEFT JOIN sys_role AS r
                                                                             ON r.role_id = u_r.role_id
        WHERE u.user_id = #{userId}
    </select>
    <!--    用户角色查询-->
    <select id="findRoleByUserId" resultType="java.lang.String">
        SELECT r.role_key FROM sys_user AS u
                                    LEFT JOIN  sys_user_role AS u_r
                                               ON u.user_id = u_r.user_id
                                    LEFT JOIN sys_role AS r
                                              ON r.role_id = u_r.role_id
        WHERE u.user_id = #{userId}
    </select>

    <select id="findByUserinfo" resultType="xyz.onlytype.domain.vo.UserInfoVo">
        SELECT u.username,u.is_email,u.is_img FROM sys_user AS u
        WHERE u.username = #{username}
    </select>

    <select id="finMenuByUserRoles" resultType="xyz.onlytype.entity.SysMenu">
        SELECT m.menu_name,m.menu_icon,menu_url,m.menu_code,m.parent_code FROM sys_menu AS m
                                                                     LEFT JOIN sys_role_menu AS rm
                                                                               ON m.menu_id = rm.menu_id
                                                                     LEFT JOIN sys_role AS r
                                                                               ON r.role_id = rm.role_id
        WHERE r.role_key = #{roleKey}
    </select>
    <!--恢复已删除用户-->
    <update id="recoverUser">
        update sys_user
        <set>
        <if test="is_enabled != null and is_enabled != ''">
            is_enabled = 1,
        </if>
        </set>
        where sys_user.user_id = #{userId}
    </update>


</mapper>

